<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/common-head-content.ejs') %>
</head>

<body class="hold-transition login-page">
  <div class="login-box">

    <%- include('./partials/alert.ejs') %>

    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="#" class="h1"><b>Store</b>GG</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="/admin/sign-in" method="POST">
          <div class="input-group mb-3">
            <input type="email" class="form-control <%= _.isError(formErrors?.email) && "is-invalid" %>"
              placeholder="Email" name="email" value="<%= formData?.email %>" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control <%= _.isError(formErrors?.password) && "is-invalid" %>"
              placeholder="Password" name="password" value="<%= formData?.password %>" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          <!-- /.col -->
        </form>

        <hr>

        <a href="/admin/sign-up" class="btn btn-dark btn-block">Sign Up</a>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->

  <%- include('./partials/common-scripts.ejs') %>
</body>

</html>