<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/common-head-content.ejs') %>
</head>

<%- include('../partials/dashboard/layout-start.ejs', {
  previousBreadcrumbs: [
    { label: "Admin", href: "/admin" },
    { label: "Categories", href: "/admin/categories" },
  ]
}) %>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <%- include('../partials/alert.ejs') %>

    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">New Category</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form action="/admin/categories" method="POST">
            <div class="card-body">
              <%- include('./input.ejs') %>
            </div>
            <!-- /.card-body -->

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include('../partials/dashboard/layout-end.ejs') %>

<%- include('../partials/common-scripts.ejs') %>

</html>