<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/common-head-content.ejs') %>
  <!-- DataTables -->
  <link rel="stylesheet" href="/admin/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/admin/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
</head>

<%- include('../partials/dashboard/layout-start.ejs', {
  previousBreadcrumbs: [{ label: "Admin", href: "/admin" }]
}) %>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <%- include('../partials/alert.ejs') %>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <a href="/admin/categories/create" class="btn btn-primary">
              <i class="nav-icon far fa-plus-square"></i> Create
            </a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="categories" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% categories.forEach((category, i) => { %>
                <tr>
                  <td><%= i + 1  %></td>
                  <td><%= category.name %></td>
                  <td>
                    <a href="/admin/categories/<%= category.id %>/edit" class="btn btn-warning">
                      <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                    <form method="post" action="/admin/categories/<%= category.id %>?_method=DELETE" class="d-inline">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <button type="submit" type="button" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete
                      </button>
                    </form>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include('../partials/dashboard/layout-end.ejs') %>

<%- include('../partials/common-scripts.ejs') %>
<!-- DataTables  & Plugins -->
<script src="/admin/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/admin/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admin/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script nonce="<%= cspNonce %>">
  $(() => {
    $('#categories').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

</html>