<table id="list" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach((category, i) => { %>
    <tr>
      <td><%= i + 1  %></td>
      <td><%= category.name %></td>
      <td>
        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <form method="post" action="/admin/categories/<%= category.id %>?_method=DELETE" class="d-inline">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" type="button" class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>